body {
  font-family: sans-serif;
}

.wrap {
  height: 100%;
  background-color: whitesmoke;
}

.input-box {
  background-color: gray;
}

.incomplete-box {
  background-color: beige;
}

.complete-box {
  background-color: khaki;
}
